<?xml version='1.0' encoding='utf-8'?>
<widget id="example.timetracker" version="0.1.0">
  <name>Timetracker</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="sj2009@bk.ru">
    vnezapno
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
  <plugin name="cordova-sqlite-storage" spec="^2.3.0" />
</widget>

